<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Galerie Photos</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<ul class="nav">
		{{#each albums}}
			<li>
				<a href="#{{name}}" id="">{{name}}</a>
			</li>
		{{/each}}
	</ul>

	{{#each albums}}
		{{> album }}
	{{/each}}

	<script src="js/bundle.js"></script>
</body>
</html>
